 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
body {
    background: #FAFAFA; 
    margin: 0; 
    font-size: 15px; 
    font-family: 'roboto', Helvetica, sans-serif; 
}

nav {
/*   background:#FFF; */
/*   height: 5em; */
/*   line-height: 3.3em; */
/*   padding: 0 20%; */
/*   border-bottom: 0.1px solid #DBDBDB; */
/*   display: flex; */
/*   align-items: center; */
}

nav a {
/*    text-decoration: none; */
}

nav img {
/*    margin-left: 20%; */
/*    vertical-align: middle; */
}

.search {
/*    background-color: #FAFAFA; */
/*    border-radius: 5px; */
/*    border: 1px solid #DBDBDB; */
/*    height: 2.5em; */
/*    margin-left: 25%; */
/*    margin-right: 10%; */
/*    width: 20em; */
/*    align-self: center; */
}

.search::placeholder {
/*    padding-left: 1em; */
/*    color: #BB9CAA; */
}

i {
/*    font-size: 1.5em; */
/*    margin: 0.5em; */
}

.nav-links i {
/*    color: #262626; */
}

.container {
/*    margin: 2% 25%; */
}


.bio {
/*    display: grid; */
/*    grid-template-columns: 1fr 2fr; */
/*    height: 15em; */
/*    padding: 3em 0 0 3em; */
/*    border-bottom: 0.5px solid #DBDBDB; */
}

.bio img {
/*    width: 10em; */
/*    height: auto; */
/*    border-radius: 50%; */
/*    margin: 5%; */
}


button {
/*    margin-left: 15px; */
}


button#follow {
/*    background-color: #0095F6; */
/*    border: none; */
/*    border-radius: 5px; */
/*  height: 2.5em; */
/*    width: 5em; */
/*    text-align: center; */
/*    color: white; */
/*    font-weight: 750; */
/*    cursor: pointer; */
/*    display: inline-block; */
}


button#message {
/*    background-color: #FAFAFA; */
/*    border: 1px solid #DBDBDB; */
/*    border-radius: 5px; */
/*    height: 2.5em; */
/*    width: 6em; */
/*    text-align: center; */
/*    font-weight: 550; */
/*    cursor: pointer; */
/*    display: inline-block; */
}


.profile-info {
/*    white-space: nowrap; */
/*    font-weight: 400; */
/*    font-size: 16px; */
}


.username {
/*    font-family: 'Roboto', Helvetica; */
/*    font-weight: 300; */
/*    font-size: 28px; */
/*    color: #545454; */
/*    display: inline-block; */
}


.follow-info p {
/*    display: inline-block; */
/*    margin-right: 3em; */
}


.gallery-nav {
/*   height: 5em; */
/*   line-height: 3.3em; */
/*   padding: 0 20%; */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: space-around; */
}


.gallery-nav a {
/*  text-decoration: none;  */
/*  font-family: 'Roboto', Helvetica; */
/*  font-weight: 600; */
/*  font-size: 15px; */
/*  color: rgb(142, 142, 142); */
/*  text-transform: uppercase; */
/*  text-align: middle; */
}


.gallery-nav .focus {
/*    color: #262626; */
}


.gallery {
/*    width: 50%; */
/*    display: grid; */
/*    justify-items: center; */
/*    grid-template-columns: repeat(3, 1fr); */
/*    gap: 2em; */
/*    box-sizing: border-box; */
/*    margin-left: auto; */
/*    margin-right: auto; */
/*    margin-bottom: 5%; */
}


.item {
/*    height: 20em; */
/*    width: 20em; */
/*    background-color: black; */
}


.item>img {
/*    height: 100%; */
/*    width: 100%; */
/*    object-fit: cover; */
}


.item>img:hover {
/*    opacity: 0.5; */
}
